{% extends 'demo/base.html' %}

{% load bootstrap3 %}

{% block title %}
    药箱
{% endblock %}

{% block content %}

    {% if form.errors %}
        <p style="color: red;">
           请填写正确的信息。
        </p>
    {% endif %}

    {% if errors %}
        <ul>
            {% for error in errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        </ul>

    {% endif %}

    <!--
    <div class="page-header">
        <h1>Tables</h1>
      </div>
      <div class="row">
        <div class="col-md-6">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>

    -->



    <form role="form" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons submit='确定' reset="取消" %}{% endbuttons %}
    </form>

{% endblock %}
